<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <title>Document</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />

  <style>
    /* Estilo para os links */
    a {
        color: white; /* Define a cor do texto do link como branco */
        text-decoration: none; 
        font-weight: bold; /* Remove o sublinhado */
    }

    .nav-link {
      display: flex; /* Ativa flexbox */
      align-items:flex-end; /* Centraliza verticalmente */
      color: white; /* Define a cor do texto do link como branco */
      text-decoration: none; /* Remove o sublinhado */
      font-weight: bold; /* Deixa o texto em negrito */
    }

    .nav-link img {
      margin-right: 10px;
      margin-top:10px; /* Ajuste conforme necessário */
    }
  </style>  

</head>
<body>

<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="assets/img/logo.png" alt="Global">
  </a>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
         <h1>AAAA</h1>
          <button class="header--cta cta"></button>
          <a class="nav-link" th:href="@{/}" href="#"><img th:src="@{/images/store.svg }" src="@{/images/store.svg}" alt="Ícone de carrinho" width="25" height="25" style="font-family: 'Courier New', Courier, monospace;"> Home</a>

          <a class="nav-link" th:href="@{/shop}" href="#"><img th:src="@{/images/shop.svg }" src="@{/images/shop.svg}" alt="Ícone de carrinho" width="25" height="25"> Loja    </a>

          <a class="nav-link" th:href="@{/cart}" href="#" sec:authorize="isAuthenticated()"><img th:src="@{/images/cart.svg }" src="/images/cart.svg" alt="Ícone de carrinho" width="25" height="25">Carrinho:</a>
          <span class="nav-link" th:text="${cartCount}" sec:authorize="isAuthenticated()">0</span>

          <a class="nav-link"  sec:authorize="!isAuthenticated()" th:href="@{/login}" href="#"><img th:src="@{/images/login.svg }" src="/images/login.svg" alt="Ícone de carrinho" width="25" height="25"> Login</a>

          <a class="nav-link" sec:authorize="isAuthenticated()">
            <img th:src="@{/images/user.svg}" src="@{/images/user.svg}" alt="Ícone de usuário" width="25" height="25">
            <span th:text="${#strings.substringBefore(#authentication.name, '@')}"></span>
        </a>

        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#"><img th:src="@{/images/exit.svg }" src="@{/images/exit.svg}" alt="Ícone de carrinho" width="25" height="25"> Sair</a>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Sua moda<br>futurista<br>chegou</h1>
                <button class="cta">
                  <a th:href="@{/shop}">
                    Acesse
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                      </g>
                    </svg>
                  </a>
                  <span class="btn-background"></span>
                </button>
                <img th:src="@{/images/robot.png }" src="@{/images/robot.png}" alt="Ícone de carrinho" width="500" height="500" style="font-family: 'Courier New', Courier, monospace;">
              </div>
              <div class="intro--options">
                <a href="#">
                  <h3>Metiew &amp; Smith</h3>
                  <p> Olhar equilibrado entre inovação e tradição, buscando qualidade e sofisticação.</p>
                </a>
                <a href="#">
                  <h3>Fantasy interactive</h3>
                  <p>Apaixonados por experiências imersivas, valorizam a originalidade e a narrativa nas roupas futuristas.</p>
                </a>
                <a href="#">
                  <h3>Paul &amp; shark</h3>
                  <p>Pragmáticos e ousados, buscam funcionalidade e impacto nas roupas, valorizando a inovação e a eficiência.</p>
                </a>
              </div>
            </div>
          </li>
         
</div>


</body>
</html>
